NAVER_EMAIL=
NAVER_PASSWORD=
NAVER_PLACE_URL=https://partner.booking.naver.com/bizes/1240052/booking-list-view

SMS_API_KEY=
SMS_USER_ID=
SMS_SENDER=01094363951

ADMIN_PHONE=01094363951

SCRAPE_INTERVAL_MINUTES=5
CHECK_IN_TIME=15:00

USE_TEST_MODE=true
TEST_HTML_FILE=sample_booking_page.html
